allow priv_app ota_package_file:dir create_dir_perms;

# Allow Fries to read and set theme_prop
get_prop(priv_app, theme_prop)
set_prop(priv_app, theme_prop)
